@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.dog.cell img {
  min-height: 268px;
  object-fit: cover;
}

.logo {
  width: 100%;
  max-width: 290px;
}

.menu-container {
  background-color: #637081;
  width: 100%;
}

.top-bar .button {
  background-color: transparent;
}

.menu,
.top-bar-left,
.top-bar-right,
.top-bar ul {
  background-color: transparent;
}

.top-bar .menu li,
.top-bar .menu a {
  color: white;
}

.top-bar {
  max-width: 1400px;
  margin: auto;
  background-color: transparent;
}
