@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "./top-bar.scss";
@include foundation-everything;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
  --yellow: #ff9505;
  --orange: #ec4e20;
  --slate: #637081;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
  font-family: "Outfit", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, sans-serif;
}

.dog.cell img {
  min-height: 268px;
  object-fit: cover;
}

.dog-tile-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}