.drop-zone {
  border: 3px dashed var(--silver);
  background-color: #f7f7f7;
  padding: 20px 20px 14px;
  text-align: center;
  p {
    vertical-align: middle;
    font-size: 1.4rem;
  }
}

.file-name {
  margin: 20px 0;
}

.button-group {
  .button.clear {
    background-color: transparent;
    color: var(--orange);
  }
}
