.profile.vote-block {
  opacity: 30%;
  margin-bottom: 20px;
}
.grid-container.profile,
.my-stuff {
  height: 96vh;
}
.profile-column {
  overflow-y: scroll;
  height: 80%;
}

.my-stuff {
  margin-top: 50px;

  ul {
    margin-left: 0;
  }
}

.user-info {
  font-size: 1.2rem;
  line-height: 160%;
}

.profile {
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-weight: 600;
    font-size: 1.8rem;
    margin: 20px 0 15px;
  }
}
