.show-rating {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

.empty-reviews {
  h3 {
    font-weight: 600;
    font-size: 1.8rem;
  }

  p {
    font-size: 1.15rem;
  }
}

.cell.dog-pic {
  position: relative;
  max-height: 500px;
  min-height: 390px;
  margin-bottom: 20px;
  background-position: center center;
  background-size: cover;
  h4 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: 700;
    font-size: 3rem;
    color: white;
    z-index: 11;
  }
}
.dog-pic::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  z-index: 10;
}

.review-tile {
  padding: 1.5rem;
  background-color: white;
  margin-bottom: 15px;
  position: relative;

  a {
    display: inline-block;
    color: var(--slate);
    margin-right: 15px;
  }

  a:hover {
    border-bottom: 1px solid var(--slate);
  }

  h5 {
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.review-rating h2 {
  text-align: right;
  font-size: 2.5rem;
}

.dog-rating {
  h3 {
    text-align: right;
    font-weight: 700;
  }
}

.review-form-container {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: var(--translucent-slate);
  background-blend-mode: multiply;
  z-index: 11;
  position: relative;
}

.review-form {
  label {
    font-size: 1.2rem;
    color: white;
    opacity: 100%;
    font-weight: 600;
  }

  input[type="textarea"],
  input[type="number"] {
    border: none;
  }
}

.flex {
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 2rem;
    font-weight: 700;
  }

  h3.rating {
    text-align: right;
  }
}

.edit-form {
  width: 100%;
  .description-label {
    width: 78%;
    display: inline-block;
    margin-right: 4%;
  }
  .rating-label {
    width: 18%;
    display: inline-block;
  }
}

.fixed.grid-container {
  height: 92vh;
  margin: 0 auto;
  padding-top: 60px;
}

.fullheight {
  max-height: 500px;
  height: 100%;
}

.overflow {
  height: 100%;
  position: relative;
  overflow-y: scroll;
}

.reviews {
  position: relative;
  height: 100%;
}

.edit-links {
  position: absolute;
  bottom: 15px;
  right: 15px;
  height: 25px;
}
.review-link {
  font-weight: 600;
  display: block;
  width: fit-content;
  font-size: 1.1rem;
  margin: 12px 0 8px;
  color: var(--orange);

  &:hover {
    color: var(--darker-orange);
  }
}
.vote-block {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;

  .icon {
    margin-right: 5px;
  }
  .icon.orange {
    color: var(--orange);
    background-color: transparent;
    :hover {
      opacity: 60%;
    }
  }
  .icon.grey {
    color: #cbcbcb;

    :hover {
      color: #8f8f8f;
    }
  }
}

a.show-review {
  background-color: var(--orange);
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  margin-left: 15px;

  a:hover {
    color: #fff !important;
  }
}
.button-group {
  margin-top: 15px;
  .review.button {
    font-size: 1rem;
    background-color: var(--orange);
    &:hover {
      background-color: white;
      color: var(--orange);
      transition: all 500ms;
    }
  }
  .cancel.button {
    background-color: transparent;
    font-size: 1rem;

    &:hover {
      background-color: transparent;
      color: var(--orange);
      text-decoration: underline;
      transition: all 400ms;
    }
  }
}
.dog.card {
  background-color: transparent;

  &:hover {
    box-shadow: none;
  }
}
.sort-links {
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
  height: 28px;

  a,
  a:hover {
    color: black;
    font-weight: 500;
  }

  a.active {
    border-bottom: 3px solid var(--orange);
    transition: all 300ms;
  }
  a.inactive {
    opacity: 50%;
    transition: opacity 200ms;

    &:hover {
      opacity: 100%;
      transition: opacity 200ms;
    }
  }
}

@media (max-width: 1024px) {
  .fixed.grid-container {
    height: 100vh;
    overflow: scroll;
    margin: 0 auto;
  }

  .fullheight {
    max-height: none;
  }

  .overflow {
    height: 100%;
    position: relative;
    overflow-y: scroll;
  }
}
@media (max-width: 1024px) and (min-width: 700px) {
  .dog-pic {
    height: 540px;
  }
}
