.show-rating {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
.dogpic {
  position: relative;
}

.review-rating h2 {
  text-align: right;
  font-size: 2.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 2rem;
    font-weight: 700;
  }

  h3.rating {
    text-align: right;
  }
}
