.profile {
  margin-top: 50px;

  .user-info {
    margin-bottom: 40px;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 15px;
  }

  ul {
    margin-left: 0;
  }
}

.grid-container-large {
  max-width: 1100px;
  margin: 60px auto;
}
